@model InMost.Models.HomeModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<i class="flaticon-menu iconMenu btn-menu"></i>
<div id="menu-toggle">
       <a href="@Url.Action("EditarPerfil","EditarPerfil", "EditarPerfil")">
            <nav style="padding: 0px;">
                <img src= @Model.Url_foto alt="user name" class="foto" />
                <h2 style="padding: 10px 0px;">
                   @Model.Nome  @Model.Apelido 
                </h2>
            </nav>
        </a>
    <a href="@Url.Action("foto","foto")">
        <nav>
            <i class="flaticon-menu-photo"></i>
            <p>Fotos</p>
        </nav>
    </a>
        <a href="inmost.html">
            <nav>
                <i class="flaticon-menu-inmost"></i>
                <p>Inmost</p>
            </nav>
        </a>
        <a href="@Url.Action("Convidar","Convidar", "Convidar")">
            <nav>
                <i class="flaticon-menu-send"></i>
                <p>Convidar</p>
            </nav>
        </a>
        <a href="aprovar.html">
            <nav>
                <i class="flaticon-like"></i>
                <p>Aprovar</p>
            </nav>
        </a>
        <a href="sair.html">
            <nav>
                <i class="flaticon-control-sair"></i>
                <p>Sair</p>
            </nav>
        </a>
</div>

    <img src="~/img/logo.png" alt="Beta Inmost" class="logo">

<main>
    <div class="layout">

@if (Model.membros != null)
{
    int i = 1;
    foreach (var membro in Model.membros)
    {
        
        <div class="col-xs-6 col-md-3 box-people">
            <div class="grid">
                <a href="" title="ver perfil">
                    <div class="people">
                        <h3 class="name">  @membro.Nome 
                        </h3>
                        <img src= @membro.Url_foto alt="user name" class="foto" />
                        <div class="perfil">
                            <p>ver perfil</p>
                        </div>
                    </div>
                </a>
                <div class="interesses int-@i">
                    <!-- 10 = ID -->
                    <form action="">

                      @foreach (var interesse in Model.interesse)
                       {

                         <input type="checkbox" id=@i@interesse.Codigo name="interesses[]">
                        <label for=@i@interesse.Codigo>
                            <i class=@interesse.Icone></i> @interesse.Descricao
                        </label>

                       }

                      

                        <button type="submit">enviar</button>
                    </form>
                </div>
            </div>
            <div class="options">
                <i class="flaticon-like btn-aceita" data-id= @i></i><!-- 10 = ID -->
                <i class="flaticon-deslike btn-rejeita" ></i><!-- 10 = ID -->
            </div>
        </div>

        i++;
    }
}



        @*<div class="col-xs-6 col-md-3 box-people">
            <div class="grid">
                <a href="" title="ver perfil">
                    <div class="people">
                        <h3 class="name">Dariene</h3>
                        <img src="~/img/perfil/dari.jpg" alt="user name" class="foto" />
                        <div class="perfil">
                            <p>ver perfil</p>
                        </div>
                    </div>
                </a>
                <div class="interesses int-20">
                    <!-- 20 = ID -->
                    <form action="">

                        <input type="checkbox" id="2002" name="interesses[]"><!-- id = id_pessoa+id_interesse -->
                        <label for="2002">
                            <i class="flaticon-int-restaurant"></i> Restaurante
                        </label>
                        <input type="checkbox" id="2001" name="interesses[]"><!-- id = id_pessoa+id_interesse -->
                        <label for="2001">
                            <i class="flaticon-int-motel"></i> Motel
                        </label>
                        <button type="submit">enviar</button>
                    </form>
                </div>
            </div>
            <div class="options">
                <i class="flaticon-like btn-aceita" data-id="20"></i><!-- 20 = ID -->
                <i class="flaticon-deslike btn-rejeita" data-id="20"></i><!-- 20 = ID -->
            </div>
        </div>*@


    </div>



   
        @*<table>
        <th>Nome</th>
        <th>Apelido</th>
        <th>foto</th>



        @if (Model.membros != null)
        {
         foreach (var membro in Model.membros)
         {
            <tr>
                <td>@membro.Nome</td>
                <td>@membro.Apelido </td>
                <td>@membro.Url_foto</td>
            </tr>
         }
        }



    </table>
        *@
