@model InMost.Models.HomeModel
@{
    ViewBag.Title = "Index";
}

<br /><br /><br />


<p>Apelido</p>

@Html.TextBoxFor(m => m.Apelido)

<br />
<br /><br />
<p>Nome</p>

@Html.TextBoxFor(m => m.Nome)
<br /><br /><br />
<p>Foto do cara</p>

@Html.TextBoxFor(m => m.Url_foto)


<button type="button">Encerrar</button>
<br />

<button type="button">Editar Perfil</button>

@Html.ActionLink("EditarPerfil", "EditarPerfil", "EditarPerfil")

<br />

<table>
    <th>Nome</th>
    <th>Apelido</th>
    <th>foto</th>
    @foreach (var membro in Model.membros)
    {
        <tr>
            <td>@membro.Nome</td>
            <td>@membro.Apelido </td>
            <td>@membro.Url_foto</td>
        </tr>
    }

</table>
